   body 
{
   /* background-image: url('image3.jpg');  */
   /* background-repeat: no-repeat; */
  /* width: 100%; */
  /* background-size: cover*/
  background-image: url('bg49.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
} 
 html {
    scroll-behavior: smooth; 
   } h1
{
  text-align: center;
  color: unset;
  font-family: sans-serif;
  font-size: 40px;
}
  /* .box
{
  text-align: center;
  background-color: violet;
  color: black;
  font-family: sans-serif;
  width: 400px;
  height: 500px;
  border : 20px;
} 
.box p{
  text-align: center;
  color: black;
  font-style: normal; 
   font-size: 50px; 
  size: 50px;
}  */
 nav{
  top: 60px;
  right: 20px;
  position: absolute;
 }
  nav a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 18px; 
    border-radius: 6px;
    margin-left: 10px;
    font-weight: bold;
  } 
  nav a:hover {
    background: #333;
    color:black;
  }
  section {  
  /* background-image: url("your-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  */

    padding: 80px 20px;
    text-align: center;
    background: pink;
    margin: 30px auto;
    border-radius: 10px;
    width: 800px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
  }
  
   footer {
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;

   }
  header {
  text-align: center;
  padding: 20px;
  background: peru;
  color: white;
} .logo img {
  height: 100px;
  top: 20px;
  left: 20px;
  position: absolute;
}
.email {
  font-weight: bold;
  width: 300px;
  height: 40px;
  border-radius: 6px;
  background-color:lightblue;
  color: #333;
  margin: auto;
  border-color: black;
}
.message {
  width: 350px;
  height: 100px;
  border-radius: 6px;
  background-color: lightblue;
  color: #333;
  margin: auto;
  border-color: black;
}
#home{
  background: lightblue ;
  height: 800px;
  border-radius: 10px;
  background-image: url('bg49.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.name {
  width:300px;
  height:40px;
  border-radius: 6px;
  background-color:lightblue;
  color: #333;
  margin: auto;
  border-color: black;
}
.button {
  width: 100px;
  background-color: darkolivegreen;
  height: 40px;
  border-radius: 6px;
}
.project {
  background: lightblue;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 600px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: darkolivegreen;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
/* .skill container{
  background: lightblue;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 600px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
.skill {
   /* background: #0077b6; */
  /* color: white;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s, background 0.3s;
  cursor: pointer; 
   */
  margin-bottom: 20px;
}
/* .skill:hover {
  transform: scale(1.1);
  background: #3f8a02;
} */
/* .skill-container {
  max-width: 700px;
  margin : auto;
  text-align: left;


} */
.skill span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
  border-radius: 6px;
  font-size: 18px;


   
}
 .progress {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  overflow: hidden; 
  background: #ddd;
  margin: auto;
 }
 .progress-bar {
  height: 100%;
  text-align: right;
  background-color: blueviolet;
  color: silver;
  line-height: 20px;
  font-weight: bold;
  border-radius: 20px;
  transition: width 1.5s ease-in-out;

 } 
  /*height: 100%;
  line-height: 25px;
  text-align: right;
  padding-right: 10px;
  color: white;
  font-weight: bold;
  transition: width 1s ease-in-out;
 }*/
/* #skills {
  background: olive;
} */
.home-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
} 
.highlight {
  color: fuchsia;
  font-weight: bold;
}
.profile-pic {
  border-radius: 50%;
  margin-bottom: 20px;
}
.box {
  text-align: center;
  color: black;
  font-family: sans-serif;
  border : 20px;
  /* background-image: url('homebg.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; */

}
.home-box {
  max-width: 2000px;
  width: 100%;
  height: 200px;
  background-image: url('homebg.webp');
}
.about container
{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about left 
{
  flex: 1 1 250px;
  text-align: center;
}
.aboiut right 
{
  flex: 2 1 400px;
}
.about-right ul 
{
  list-style: none;
  padding-left: 0;
}

.about-right li {
  margin-bottom: 8px;
  font-size: 16px;
}
 
.highlight {
   color: #0077b6;
  font-weight: bold;
}
.about-box {
  max-width: 1000px;
  margin: auto;
  width: 75%;
  color: black;
}
.project-box {
  max-width: 1000px;
  margin: auto;
  color: black;
  width: 75%;
}
.contact-box {
  max-width: 1000px;
  color: black;
  width: 70%;
}
.skills-box {
  max-width: 1000px;
  margin: auto;
  color: black;
  width: 75%;
}
 